<!--The content below is only a placeholder and can be replaced.-->




<div >
  <mat-tab-group class="custom" color="primary"  >
<mat-tab >
  <ng-template mat-tab-label>
    Home
  </ng-template>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est tellus, pellentesque sed suscipit ut, condimentum sed nisi. Mauris mollis pellentesque congue. Suspendisse a auctor ex, vel viverra nulla. Mauris quis rutrum ante. Sed fermentum diam nunc, in porta elit tincidunt in. Sed mauris mi, consequat vel maximus et, auctor ut neque. Maecenas vestibulum et mauris eu ullamcorper. Aliquam facilisis scelerisque purus sit amet sollicitudin. Vestibulum sit amet volutpat lorem. Morbi porttitor, orci eu posuere consequat, tortor diam rutrum libero, et luctus magna ex gravida velit. Nunc efficitur vel odio non dignissim. Nam consectetur non purus quis egestas.

Sed accumsan ex mi, vitae aliquam odio egestas a. Morbi iaculis libero eros, ut efficitur eros tempus eu. In interdum urna eget porta interdum. Phasellus volutpat molestie rhoncus. In efficitur dolor eu massa imperdiet convallis. Aliquam non purus a lectus finibus pellentesque. Maecenas suscipit eros at rutrum egestas. Proin dignissim, dolor sed gravida vehicula, leo dui consequat ligula, ac rutrum orci lacus ut diam.

Suspendisse potenti. Mauris ac magna ac libero bibendum efficitur at at elit. Ut porttitor iaculis mauris eu euismod. Nam lobortis, ligula at cursus commodo, sapien libero blandit erat, et ultrices massa lacus vitae magna. Morbi sit amet nunc leo. In in orci vel erat ultricies ultrices. Aenean et neque et libero ornare tristique. Aenean accumsan dignissim hendrerit. Integer et congue eros. Nulla pharetra dolor id volutpat faucibus. Proin eleifend posuere magna, a vestibulum dui luctus vitae. In hac habitasse platea dictumst. Integer ex magna, tempor eget malesuada consequat, hendrerit varius purus. Vestibulum dui metus, lacinia a ex at, tincidunt efficitur justo.

Nulla luctus vehicula nunc non malesuada. Fusce eu rutrum lacus, eu vestibulum dui. Sed scelerisque tincidunt facilisis. Nullam mattis tempus lacus, nec suscipit est tempus vitae. Morbi a feugiat ante. Phasellus sodales, velit id consequat elementum, lectus dui ultricies magna, nec posuere purus arcu nec nisi. Cras ut efficitur lectus, vitae vehicula lorem. Donec eu lectus est. Praesent consequat accumsan nulla, eget dapibus magna consequat a. Proin id tellus sed felis convallis egestas ac vitae orci. Suspendisse potenti. Nam rhoncus nec risus vel hendrerit. Fusce mi magna, consequat quis est id, viverra commodo felis. Donec vehicula risus id urna tristique, ac pretium lacus euismod. Phasellus felis nulla, imperdiet pharetra venenatis id, tincidunt in velit.

Nullam finibus, nibh in sagittis pharetra, orci magna gravida nisi, tristique mattis justo nibh eu eros. In auctor tempor erat, quis mattis turpis. Morbi suscipit at libero vitae eleifend. Curabitur efficitur nisl massa, eleifend posuere leo posuere a. Donec euismod facilisis lorem, sollicitudin egestas metus eleifend sed. Etiam efficitur ipsum sit amet mi rhoncus, vel faucibus ante tincidunt. Etiam placerat aliquam ullamcorper. Maecenas bibendum est sed nunc sagittis, mollis varius nulla maximus. Ut mollis, massa non pulvinar consectetur, ligula odio consequat purus, nec malesuada leo massa eget mi. Sed venenatis cursus nulla, quis accumsan lorem euismod a. Aenean aliquet pulvinar feugiat. Cras mi odio, fringilla id ornare sit amet, condimentum non lorem. Nullam tristique tempus orci, eu pharetra diam pharetra vel. Vivamus maximus nulla velit.</p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est tellus, pellentesque sed suscipit ut, condimentum sed nisi. Mauris mollis pellentesque congue. Suspendisse a auctor ex, vel viverra nulla. Mauris quis rutrum ante. Sed fermentum diam nunc, in porta elit tincidunt in. Sed mauris mi, consequat vel maximus et, auctor ut neque. Maecenas vestibulum et mauris eu ullamcorper. Aliquam facilisis scelerisque purus sit amet sollicitudin. Vestibulum sit amet volutpat lorem. Morbi porttitor, orci eu posuere consequat, tortor diam rutrum libero, et luctus magna ex gravida velit. Nunc efficitur vel odio non dignissim. Nam consectetur non purus quis egestas.

Sed accumsan ex mi, vitae aliquam odio egestas a. Morbi iaculis libero eros, ut efficitur eros tempus eu. In interdum urna eget porta interdum. Phasellus volutpat molestie rhoncus. In efficitur dolor eu massa imperdiet convallis. Aliquam non purus a lectus finibus pellentesque. Maecenas suscipit eros at rutrum egestas. Proin dignissim, dolor sed gravida vehicula, leo dui consequat ligula, ac rutrum orci lacus ut diam.

Suspendisse potenti. Mauris ac magna ac libero bibendum efficitur at at elit. Ut porttitor iaculis mauris eu euismod. Nam lobortis, ligula at cursus commodo, sapien libero blandit erat, et ultrices massa lacus vitae magna. Morbi sit amet nunc leo. In in orci vel erat ultricies ultrices. Aenean et neque et libero ornare tristique. Aenean accumsan dignissim hendrerit. Integer et congue eros. Nulla pharetra dolor id volutpat faucibus. Proin eleifend posuere magna, a vestibulum dui luctus vitae. In hac habitasse platea dictumst. Integer ex magna, tempor eget malesuada consequat, hendrerit varius purus. Vestibulum dui metus, lacinia a ex at, tincidunt efficitur justo.

Nulla luctus vehicula nunc non malesuada. Fusce eu rutrum lacus, eu vestibulum dui. Sed scelerisque tincidunt facilisis. Nullam mattis tempus lacus, nec suscipit est tempus vitae. Morbi a feugiat ante. Phasellus sodales, velit id consequat elementum, lectus dui ultricies magna, nec posuere purus arcu nec nisi. Cras ut efficitur lectus, vitae vehicula lorem. Donec eu lectus est. Praesent consequat accumsan nulla, eget dapibus magna consequat a. Proin id tellus sed felis convallis egestas ac vitae orci. Suspendisse potenti. Nam rhoncus nec risus vel hendrerit. Fusce mi magna, consequat quis est id, viverra commodo felis. Donec vehicula risus id urna tristique, ac pretium lacus euismod. Phasellus felis nulla, imperdiet pharetra venenatis id, tincidunt in velit.

Nullam finibus, nibh in sagittis pharetra, orci magna gravida nisi, tristique mattis justo nibh eu eros. In auctor tempor erat, quis mattis turpis. Morbi suscipit at libero vitae eleifend. Curabitur efficitur nisl massa, eleifend posuere leo posuere a. Donec euismod facilisis lorem, sollicitudin egestas metus eleifend sed. Etiam efficitur ipsum sit amet mi rhoncus, vel faucibus ante tincidunt. Etiam placerat aliquam ullamcorper. Maecenas bibendum est sed nunc sagittis, mollis varius nulla maximus. Ut mollis, massa non pulvinar consectetur, ligula odio consequat purus, nec malesuada leo massa eget mi. Sed venenatis cursus nulla, quis accumsan lorem euismod a. Aenean aliquet pulvinar feugiat. Cras mi odio, fringilla id ornare sit amet, condimentum non lorem. Nullam tristique tempus orci, eu pharetra diam pharetra vel. Vivamus maximus nulla velit.
  </div>

</mat-tab >
<mat-tab >
  <ng-template mat-tab-label class="top">
    Projects
  </ng-template>
  <div class="content">
    <app-projects></app-projects>
  </div>

</mat-tab>
<mat-tab >
  <ng-template mat-tab-label class="top">
  Blog
  </ng-template>

</mat-tab>
<mat-tab >
  <ng-template mat-tab-label class="top">
  Contact
  </ng-template>

</mat-tab>
</mat-tab-group>
</div>

<app-footer></app-footer>
